@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

.custom_Gradient {
  background: linear-gradient(180deg, #00534c 50%, transparent 50%);
}

.gradient_News {
  background: linear-gradient(360deg, #00000099 0%, #00000022 70%);
}
.gradient_Membres {
  background: linear-gradient(360deg, #00a299 0%, #00000022 45%);
}
.gradient_Event {
  background: linear-gradient(360deg, #00534c 0%, #00534c22 50%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hamburger-line {
  width: 30px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger-line.cross-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-line.cross-2 {
  opacity: 0;
}

.hamburger-line.cross-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}
